<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSMinimumSystemVersion</key>
	<string>14.0.0</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.breakawaydesign.SwipeAction</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CFBundleIconName</key>
	<string>Applcon</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.3110552740-qvk8mbfdcro336p4gepupodute3e4hv6</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>3110552740-qvk8mbfdcro336p4gepupodute3e4hv6.apps.googleusercontent.com</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
